[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=2.1"
flask-cors = ">=3.0"
flask-sqlalchemy = ">=3.0"
flask-marshmallow = ">=0.15"
marshmallow-sqlalchemy = ">=0.28"
werkzeug = ">=2.1"

[dev-packages]

[requires]
python_version = "3.12"
